.s3table__collapse__collapsed {
    display: none;
}

@media screen and (max-width: 800px) {
    .s3table__collapse__expanded {
        display: none;
    }

    .s3table__collapse__collapsed {
        display: table-cell;
    }
}